h1,
h2 {
    color: whitesmoke;
    background-color: grey;
    font-family: sans-serif;

}

h3 {
    text-align: left;
}




body {
    font-style: unset;
    color: black;
    text-size-adjust: 20;
}

h1 {
    text-align: center;
}
