h1 {
    text-align: center;
    margin: 0px;
    padding: 20px;
}

h1,
h2 {
    color: whitesmoke;
    background-color: grey;
    font-family: sans-serif;

}

h3 {
    text-align: left;
}


body {
    font-style: unset;
    color: black;
    font-size: large;
    margin: 20px;
}


.Picture {
    height: 400px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

#intro {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    font-style: oblique;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    padding-left: 20px;
}

aside {
    background-color: grey;
    padding: 20px;
}

a {
    color: rgb(137, 23, 231);
    text-decoration: none
}

a:hover {
    color: black;

}

form {
    border-left: 2px solid black;
}

#fhead {
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 50%;
}

select {
    margin: 5px;
    display: inline-block;
}

label {
    margin: 5px;
    display: inline-block;
    clear: left;
    width: 75px;
    text-align: left;
}

input {
    margin: 5px;
    display: inline-block;
    text-align: right;
}