h1,
h2 {
    color: whitesmoke;
    background-color: grey;
    font-family: sans-serif;

}

h3 {
    font-family: sans-serif;
}

body {
    font-style: unset;
    color: bisque;
    text-size-adjust: 20;
}

div {
    padding-left: 25px;
}

h1 {
    text-align: center;
}